<h1 style="text-align: center;">EMPLOYEE DETAILS</h1>
<table border="1px solid black" style="width:100%; margin:0;text-align: center;">
    <tr bgcolor="#A9A9A9" height="50px">
        <th><b>FIRST NAME</b></th>
        <th><b>LAST NAME</b></th>
    </tr>
    <tr height="50px" *ngFor="let i of emp">
        <td (click)="onClick(i)">{{i.firstname}}</td>
        <td>{{i.lastname}}</td>
    </tr>
</table>
<br>
<form [formGroup]="empFG" (ngSubmit)="onSubmit()">
    
    <label>First Name:</label>
    <input type="text" formControlName="firstname">
  
    <label>Last Name:</label>
    <input type="text" formControlName="lastname">
  
    <label>Date of Birth:</label>
    <input type="date" formControlName="dateofbirth">
  
    <label>Age:</label>
    <input type="number" formControlName="age">

    <label>Date of Joining:</label>
    <input type="date" formControlName="joiningdate">

    <label>Country:</label>
    <input type="text" formControlName="country">
  
    <div>
      <button type="submit">Add</button>
    </div>
  </form>
<br>
  <form [formGroup]="searchForm"(ngSubmit)="onSearch()">
    <label>Enter Search Element:</label>
    <input type="text" formControlName="searchVal">
    <div>
        <button type="text">Search</button>
      </div>
    </form>
    <table border="1px solid black" style="width:100%; margin:0;text-align: center;">
        <tr bgcolor="#A9A9A9" height="50px">
            <th><b>FIRST NAME</b></th>
            <th><b>LAST NAME</b></th>
        </tr>
        <tr height="50px" *ngFor="let i of data">
            <td (click)="onClick(i)">{{i.firstname}}</td>
            <td>{{i.lastname}}</td>
        </tr>
    </table>