<h1>EMPLOYEE DATA</h1>
<table border="1px solid black" style="width:100%; margin:0;text-align: center;">
  <tr bgcolor="#E0FFFF" height="50px">
      <th><b>FIRST NAME</b></th>
      <th><b>LAST NAME</b></th>
      <th><b>DATE OF BIRTH</b></th>
      <th><b>AGE</b></th>
      <th><b>JOINING DATE</b></th>
      <th><b>COUNTRY</b></th>
  </tr>
  <tr bgcolor="#FFE4E1" height="40px">
      <td>Ruby</td>
      <td>Abraham</td>
      <td>13-07-2001</td>
      <td>22</td>
      <td>01-07-2023</td>
      <td>India</td>
  </tr>
  <tr bgcolor="#E0FFFF" height="40px">
    <td>Reenu</td>
    <td>Abraham</td>
    <td>14-09-2001</td>
    <td>21</td>
    <td>01-07-2023</td>
    <td>India</td>
  </tr>
  <tr bgcolor="#FFE4E1" height="40px">
    <td>Reshma</td>
    <td>Johnson</td>
    <td>22-12-2001</td>
    <td>21</td>
    <td>01-07-2023</td>
    <td>India</td>
  </tr>
  <tr bgcolor="#E0FFFF" height="40px">
    <td>Arun</td>
    <td>Sabu</td>
    <td>01-01-2001</td>
    <td>22</td>
    <td>01-07-2023</td>
    <td>India</td>
  </tr>
  <tr bgcolor="#FFE4E1" height="40px">
    <td>Varghese</td>
    <td>Abraham</td>
    <td>05-04-2001</td>
    <td>22</td>
    <td>01-07-2023</td>
    <td>India</td>
  </tr>
</table>
