All constraints included in the following tables:

	CREATE TABLE Book
	(
		Bid INT IDENTITY PRIMARY KEY,                       //primary key
		Bname VARCHAR(30),
		AuthorId INT not null,                              //not null
		ISBN VARCHAR(50) UNIQUE,                            //unique
		Price FLOAT,
		Genre VARCHAR(30),
		Quantity INT CHECK (Quantity>0),                    //check
		CreatedOn DATETIME DEFAULT CURRENT_TIMESTAMP	    //default
	)
	CREATE TABLE Author
	(

		AuthorId INT PRIMARY KEY,
		Aname VARCHAR(30),
		Bid INT not null,
		CreatedOn DATETIME DEFAULT CURRENT_TIMESTAMP	
	)
	CREATE TABLE Publisher
	(

		Pid INT PRIMARY KEY,
		Pname VARCHAR(30),
		Bid INT not null,
		CreatedOn DATETIME DEFAULT CURRENT_TIMESTAMP	
	)
	CREATE TABLE Customer
	(

		CustId INT PRIMARY KEY,
		CustName VARCHAR(30),
		Address1 VARCHAR(max),
		Address2 VARCHAR(max),
		Phone INT UNIQUE,
		CreatedOn DATETIME DEFAULT CURRENT_TIMESTAMP
	)
	CREATE TABLE OrderDetail
	(

		OrderId INT PRIMARY KEY,
		CustId INT not null,
		Bid INT not null,
		OrderDate DATE,
		Quantity INT CHECK (Quantity>0),
		Amount FLOAT,
		CreatedOn DATETIME DEFAULT CURRENT_TIMESTAMP
	)
	CREATE TABLE Payment
	(

		PayId INT PRIMARY KEY,
		CustId INT not null,
		OrderId INT not null,
		CardNo INT,
		CreatedOn DATETIME DEFAULT CURRENT_TIMESTAMP
	)


//adding foreign key constraints
	ALTER TABLE Book ADD CONSTRAINT forkey1 FOREIGN KEY (AuthorId) REFERENCES Author(AuthorId)

	ALTER TABLE Author ADD CONSTRAINT forkey2 FOREIGN KEY (Bid) REFERENCES Book(Bid)

	ALTER TABLE Publisher ADD CONSTRAINT forkey3 FOREIGN KEY (Bid) REFERENCES Book(Bid)

	ALTER TABLE OrderDetail ADD CONSTRAINT forkey4 FOREIGN KEY (Bid) REFERENCES Book(Bid)
	ALTER TABLE OrderDetail ADD CONSTRAINT forkey5 FOREIGN KEY (CustId) REFERENCES Customer(CustId)

	ALTER TABLE Payment ADD CONSTRAINT forkey6 FOREIGN KEY (CustId) REFERENCES Customer(CustId)
	ALTER TABLE Payment ADD CONSTRAINT forkey7 FOREIGN KEY (OrderId) REFERENCES OrderDetail(OrderId)